@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display: flex; justify-content:space-evenly">
    <partial name="RegistrationForm" />
    <partial name="LoginForm" />
</div>
